body{
	margin:0;
}
.first{
	display:flex;
	flex-direction: row;
	background-color: rgba(0, 1, 1, 0.5);;
	height:111px;
}
.title{
	font-size:36px;
	color: rgba(225,225,225,.1);
	background-image: url(rainbow.jpg);
	background-repeat:repeat-x;
	-webkit-background-clip:text;
	animation: animate 15s linear infinite;
}
  @keyframes animate {
	0%{
		background-position: left 0px top 10px;
	}
	40%{
		background-position: left 800px top 10px;
	}
}
@media only screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}
.title h1{
	margin-left: 100px;
	margin-top:-25px;
	font-size: 40px;
	font-family:arial;
}
.ma{
	margin-top:36px;
	margin-left:285px;
	font-size: 36px;
	height:110px;
}
.title img{
	position: relative;
	 height:60px;
	 width:70px;
	 left:35px;
	 top:25px;
}
.ma a{
	text-decoration: none;
	color:black;
	padding-bottom: 34px;
	padding-top: 40px;
	padding-right: 25px;
	padding-left: 25px;
}
.a a:hover{
	background-color: rgb(136, 195, 223);
	color:white;
}
.b a:hover{
	background-color: rgb(218, 141, 133);
	color:white;
}
.c a:hover{
	background-color: rgb(133, 163, 204);
	color:white;
}
.d a:hover{
	background-color: rgb(122, 193, 185);
	color:white;
}
.e a:hover{
	background-color: rgb(223, 186, 112);
	color:white;
}
body{
	background-color: rgb(136, 195, 223);
}
.abc{
	margin-top:50px;
}
.abc img{
	width:375px;
	height:300px;
	margin-top: 0px;
}
.foot{
	background-color: black;
	opacity:.8;
	height:200px;
	color:white;
	text-align:center;
}
.bas{
	text-align: center;
	font-size: 39px;
	margin-top: 50px;
}
.fo{
	margin-top: 190px;
}

